* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #7F00b2;
  color: #77dd77;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

h1, h4 {
  margin: .5em;
}